@tailwind preflight;
@tailwind utilities;
@tailwind components;

* {
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  padding-top: 4px;
  color: config('colors.grey-200');
}

html,
body,
#__next {
  min-height: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

body {
  @apply min-w-full min-h-full;
  @apply bg-grey-050;

  box-shadow: inset 0 0 0 12px config('colors.pink-400');
  padding: 24px;
  /* border-width: 12px; */
  /* @apply bg-grey-050; */
}

/* .inner {
  padding: 12px;
  @apply bg-grey-050  min-w-full min-h-full;
} */

.hover-button {
  transition: all 0.1s;
  @apply shadow-md;
}

.hover-button:hover {
  transform: translateY(-1px);
  @apply shadow-lg;
}

.hover-button:active {
  transform: none;
  @apply shadow;
}
